
@if (!Request.IsAuthenticated)
{
    <section id="hero-area">
        <div class="hero-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-big">Career Visa - Your Visa for the future</h1>
                        <h2 class="subtitle-big">Career Visa is a web-based platform that will give youth the visa to their future career through.</h2>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="@Url.Action("Login", "Account")" class="sign-up-button btn btn-border btn-lg col-md-3 col-md-offset-1 wow fadeInUp" data-wow-delay="1s">Find Employee</a>
                        <a href="@Url.Action("Login", "Account")" class="sign-up-button btn btn-border btn-lg col-md-3 col-md-offset-3 wow fadeInUp" data-wow-delay="1s">CV Evaluation</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <!-- feature Section Start -->
    <section id="features">
        <div class="container">
            <div class="row">
                <h1 class="title-small wow tada">Career Visa Key Players</h1>
                <div class="col-md-12 text-center">
                    @if (!User.IsInRole("Employer"))
                    {
                        <a class="btn btn-border btn-lg wow fadeInRight animated" data-wow-offset="10" href="@Url.Action("Index", "Employer")" style="display: none;"><i class="fa fa-briefcase"></i>Employer</a>
                        <a class="btn btn-border btn-lg wow fadeInLeft animated" data-wow-offset="10" href="@Url.Action("Index", "JobSeeker")"><i class="fa fa-graduation-cap"></i> Job Seeker</a>
                    }
                    else if (User.IsInRole("JobSeeker"))
                    {
                        <a class="btn btn-border btn-lg wow fadeInRight animated" data-wow-offset="10" href="@Url.Action("Index", "Employer")"><i class="fa fa-briefcase"></i>Employer</a>
                        <a class="btn btn-border btn-lg wow fadeInLeft animated" data-wow-offset="10" href="@Url.Action("Index", "JobSeeker")" style="display: none;"><i class="fa fa-graduation-cap"></i> Job Seeker</a>
                    }
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
                        <div class="box-item left">
                            <span class="icon">
                                <i class="fa fa-briefcase"></i>
                            </span>
                            <div class="text">
                                <h4>Employers</h4>
                                <p>Will have the authority to access job seekers profiles and choose from approved CVs.</p>
                            </div>
                        </div>
                        <div class="box-item left">
                            <span class="icon">
                                <i class="fa fa-power-off"></i>
                            </span>
                            <div class="text">
                                <h4>Partner Organization</h4>
                                <p>Will be responsible for holing live training sessions and workshops to help in improving users in CV writing and interviewing skills.</p>
                            </div>
                        </div>
                        <div class="box-item left">
                            <span class="icon">
                                <i class="fa fa-cogs"></i>
                            </span>
                            <div class="text">
                                <h4>Administrators</h4>
                                <p>Administrators that will be responsible for managing, monitoring, and controlling the whole process.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 featuremidelimage">
                    <div class="show-box wow fadeInDown animated" data-wow-offset="10">
                        @*<img src="~/images/features/iPhone.png" alt="">*@
                        <img src="~/images/features/cv_image.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
                        <div class="box-item right">
                            <span class="icon">
                                <i class="fa fa-graduation-cap"></i>
                            </span>
                            <div class="text">
                                <h4>Job Seeker</h4>
                                <p>The person who will upload his CV to be evaluated</p>
                            </div>
                        </div>
                        <div class="box-item right">
                            <span class="icon">
                                <i class="fa fa-check"></i>
                            </span>
                            <div class="text">
                                <h4>Evaluator</h4>
                                <p>HR expert who is responsible for evaluating CVs, preparing evaluation reports and communicating with users.</p>
                            </div>
                        </div>
                        <div class="box-item right">
                            <span class="icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </span>
                            <div class="text">
                                <h4>Expert</h4>
                                <p>A person who has solid experience in certain career and able to direct and advice people about how they can start in this career.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section Start -->
}
