@model CareerVisa.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@section RegistrationcssBundle{
    @Styles.Render("~/Content/cssRegistration")
}

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Forget your password</h1>
                </div>
            </div>
            <<div id="validationsummary" class="row alert alert-info alert-dismissable" style="text-align:left !important;">
                @Html.ValidationSummary()
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Forget your password.</h3>
                                <p>Enter Email to reset your password:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-edit"></i>
                            </div>
                        </div>
                        <div class="form-bottom">

                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group  wow fadeInDown animated">
                                    <label class="sr-only" for="form-username">Email</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-email form-control", id = "username", placeholder = "Email..." })
                                    @Html.ValidationMessageFor(m => m.Email, "")
                                </div>
                                <button type="submit" class="btn wow fadeInUp" data-wow-delay=" 1s">Email Link</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="footer-border"></div>
                <p>
                    Powered by <a href="http://businessinnovators.com.eg" target="_blank"><strong>Business Innovators</strong></a>
                    Innovation exceeds expectations. <i class="fa fa-trademark"></i>
                </p>
            </div>

        </div>
    </div>
</footer>


@section DefaultscriptBundle{
    @Scripts.Render("~/bundles/scriptsRegistration")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
$(document).ready(function(){
    $("div.validation-summary-valid").parent().hide();
});
</script>