@using CareerVisa.Models
@model CareerVisa.Models.LoginViewModel
@section RegistrationcssBundle{
    @Styles.Render("~/Content/cssRegistration")
}
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Career Visa</strong></h1>
                    <div class="description">
                        <p class="h3">
                            Career Visa is a web-based platform that will give youth the visa to their future career
                        </p>
                    </div>
                </div>
            </div>
            <div id="validationsummary" class="row alert alert-info alert-dismissable" style="text-align:left !important;">
                @Html.ValidationSummary()
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to Career Visa</h3>
                                <p>Enter username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group  wow fadeInDown animated">
                                    <label class="sr-only" for="form-username">Username</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-username form-control", id = "username", placeholder = "Username..." })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    @*<input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">*@
                                </div>
                                <div class="form-group  wow fadeInDown animated">
                                    <label class="sr-only" for="form-password">Password</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-password form-control", id = "password", placeholder = "Password..." })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    @*<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">*@
                                </div>
                                   
                                    <div id="remember" class="checkbox wow fadeInDown" data-wow-delay=".7s">
                                        <label>
                                            @Html.CheckBoxFor(m => m.RememberMe, new { @style = "margin-top:8px;", id = "rememberme", placeholder = "RememberMe" })
                                            @Html.LabelFor(m => m.RememberMe)
                                        </label>
                                    </div>
                                    <button type="submit" class="btn wow fadeInUp data-wow-delay=" 1s"">Sign in</button>
                                    <center>
                                        <div style="color:#fff;padding-top:15px;">
                                            <a href="@Url.Action("Register", "Account")">Create account</a> or <a href="@Url.Action("ForgotPassword", "Account")">Forget your password</a>
                                        </div>
                                    </center>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="footer-border"></div>
                <p>
                    Powered by <a href="http://businessinnovators.com.eg" class="fa fa-copyright" target="_blank"><strong> Business Innovators Inc </strong></a><br />
                    Innovation exceeds expectations. <i class="fa fa-trademark"></i>
                </p>
            </div>

        </div>
    </div>
</footer>
@section DefaultscriptBundle{
    @Scripts.Render("~/bundles/scriptsRegistration")
}

<script>
$(document).ready(function(){
    $("div.validation-summary-valid").parent().hide();
});
</script>