@model CareerVisa.Models.RegisterationViewModel
@section RegistrationcssBundle{
    @Styles.Render("~/Content/cssRegistration")
}
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Career Visa</strong></h1>
                    <div class="description">
                        <p class="h3">
                            Career Visa is a web-based platform that will give youth the visa to their future career
                        </p>
                    </div>
                </div>
            </div>
            <div id="validationsummary" class="row alert alert-info alert-dismissable" style="text-align:left !important;">
                @Html.ValidationSummary()
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Registration</h3>
                                <p>Enter your information</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            @*<form role="form" action="" method="post" class="registration-form">*@
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form", role = "form", id = "RegisterationForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group wow fadeInDown animated">
                                    @{
                                        List<SelectListItem> RegistrationTypeList = new List<SelectListItem>();
                                        RegistrationTypeList.Add(new SelectListItem
                                        {
                                            Text = "Job Seeker",
                                            Value = "0"
                                        });
                                        RegistrationTypeList.Add(new SelectListItem
                                        {
                                            Text = "Employer",
                                            Value = "1"
                                        });
                                    }
                                    <label class="sr-only" for="form-phone">Registration Type</label>
                                    @Html.DropDownListFor(m => m.RegistrationType, RegistrationTypeList, "Please Select Registration Type", new { @class = "form-phone form-control", id = "ddlRegistrationType" })
                                    @Html.ValidationMessageFor(m => m.RegistrationType, "", new { @class = "text-danger", style = "color:#fff" })

                                </div>
                                <div class="form-group wow fadeInDown animated">
                                    <label class="sr-only" for="form-first-name">First name</label>
                                    @Html.TextBoxFor(m => m.JobSeeker.FirstName, new { @class = "form-first-name form-control", id = "jobseekerfirstname", placeholder = "First name / Company name ...", required = "required" })
                                    @Html.ValidationMessageFor(m => m.JobSeeker.FirstName, "", new { @class = "text-danger", style = "color:#fff" })
                                </div>
                                <div class="form-group wow fadeInDown animated" id="LastNamediv">
                                    <label class="sr-only" for="form-last-name">Last name</label>
                                    @Html.TextBoxFor(m => m.JobSeeker.LastName, new { @class = "form-first-name form-control", id = "jobseekerlastname", placeholder = "Last name ...", required = "required" })
                                    @Html.ValidationMessageFor(m => m.JobSeeker.LastName, "", new { @class = "text-danger", style = "color:#fff" })
                                </div>
                                <div class="form-group wow fadeInDown animated">
                                    <label class="sr-only" for="form-email">Email</label>
                                    @Html.TextBoxFor(m => m.JobSeeker.Email, new { @class = "form-email form-control", id = "jobseekeremailname", placeholder = "Email...", required = "required" })
                                    @Html.ValidationMessageFor(m => m.JobSeeker.Email, "", new { @class = "text-danger", style = "color:#fff" })
                                </div>
                                <div class="form-group wow fadeInDown animated">
                                    <label class="sr-only" for="form-password">Enter Password</label>
                                    @Html.PasswordFor(m => m.JobSeeker.Password, new { @class = "form-password form-control", id = "jobseekerpasswordname", placeholder = "Enter Password", required = "required" })
                                    @Html.ValidationMessageFor(m => m.JobSeeker.Password, "", new { @class = "text-danger", style = "color:#fff" })

                                </div>
                                <div class="form-group wow fadeInDown animated">
                                    <label class="sr-only" for="form-Password">Confirm Password</label>
                                    @Html.PasswordFor(m => m.JobSeeker.ConfirmPassword, new { @class = "form-password form-control", id = "jobseekerconfirmpasswordname", placeholder = "Confirm Password", required = "required", data_validate_linked = "companypassword" })
                                    @Html.ValidationMessageFor(m => m.JobSeeker.ConfirmPassword, "", new { @class = "text-danger", style = "color:#fff" })
                                </div>
                                <div class="form-group wow fadeInDown animated">
                                    <label class="sr-only" for="form-phone">Phone Number</label>
                                    @Html.TextBoxFor(m => m.JobSeeker.PhoneNumber, new { @class = "form-phone form-control", id = "jobseekerphonenumber", placeholder = "Phone Number", required = "required" })
                                    @Html.ValidationMessageFor(m => m.JobSeeker.PhoneNumber, "", new { @class = "text-danger", style = "color:#fff" })
                                </div>
                                <button type="submit" class="btn wow fadeInUp" data-wow-delay="1s">Register</button>
                                        }
                            @*</form>*@
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="footer-border"></div>
                <p>
                    Powered by <a href="http://businessinnovators.com.eg" class="fa fa-copyright" target="_blank"><strong> Business Innovators Inc </strong></a><br />
                    Innovation exceeds expectations. <i class="fa fa-trademark"></i>
                </p>
            </div>

        </div>
    </div>
</footer>

@section DefaultscriptBundle{
    @Scripts.Render("~/bundles/scriptsRegistration") 
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $("div.validation-summary-valid").parent().hide();
        
        //$("#jobseekerphonenumber").mask("(999) 999-99999");
         
        $('#ddlRegistrationType')
            .change(function () {
                var registrationtype = $('#ddlRegistrationType').val();
                if (registrationtype == 1) {
                    $('#jobseekerlastname').parent().hide();
                } else {
                    $('#jobseekerlastname').parent().show();
                }
            });
    });

</script>